{% extends 'app/base.html' %}
{% load static %}
{% load md5url %}
{% block title %}カレンダー{% endblock title %}
{% block content %}

<div class="page-container {% if user.done_task_calendar_show %}done_task_calendar_show{% endif %}">
    <div class="heading modalContainer">
        <div class="fb heading-wrap">
            <div class="heading-title">
                <h1>{{ month_current | date:"Y年m月" }}</h1>
            </div>
            <p>月損益：<span id="Sum"></span>円</p>
            <div class="icons-menu-wrap">
                <div class="icon-item-wrap icon-menu-modal">
                    <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="modal icon-menu-modal-wrap" data-modal="menu1">
                        <div class="modal-cover btn-close"></div>
                        <div class="modal-inner">
                            <div class="modal-content">
                                <ul class="modal-ul">
                                    <li>
                                        <ul class="mt0">
                                            <li class="menu-li">
                                                <a class="menu-list" href="{% url 'calendar:month_with_forms' %}">月間カレンダー</a>
                                            </li>
                                            <li class="menu-li">
                                                <a class="menu-list" href="{% url 'calendar:week_with_schedule' %}">週間カレンダー</a>
                                            </li>
                                            <li class="menu-li">
                                                <a class="menu-list" href="{% url 'calendar:month_with_forms' %}">一括登録</a>
                                            </li>
                                            <li class="menu-li">
                                                <a class="menu-list" href="{% url 'app:task-create' %}">タスクを追加</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="POST">
        <div class="calendar-head month">
            <div class="fb">
                <div class="fb left-box">
                    <a class="text-btn" href="{% url 'calendar:month_with_forms' %}">今日</a>
                    <div class="fb arrow-box">
                        <a class="icon-btn" href="{% url 'calendar:month_with_forms' month_previous.year month_previous.month %}"><span class="material-icons">
                                chevron_left
                            </span></a>
                        <a class="icon-btn" href="{% url 'calendar:month_with_forms' month_next.year month_next.month %}"><span class="material-icons">chevron_right</span></a>
                    </div>
                </div>
                <div class="right-box">
                    <div class="fb">
                        <div class="icon-btn">
                            <span class="material-icons">
                                search
                            </span>
                        </div>
                        <div class="icon-btn">
                            <label class="ECM_CheckboxInput">
                                <input id="show_task" type="checkbox" class="ECM_CheckboxInput-Input" data-pk="{{ user.pk }}" {% if user.done_task_calendar_show %}checked{% endif %}>
                                <span class="ECM_CheckboxInput-DummyInput"></span>
                                <span class="material-symbols-outlined">task</span></label>

                        </div>
                        <a class="icon-btn" href="{% url 'app:task-create' %}">
                            <span class="material-icons">
                                add
                            </span>
                        </a>
                        <a class="icon-btn" href="{% url 'calendar:month_with_forms' %}">
                            <span class="material-icons">
                                calendar_view_month
                            </span>
                        </a>
                        <a class="icon-btn" href="{% url 'calendar:week_with_schedule' %}">
                            <span class="material-icons">
                                calendar_view_week
                            </span>
                        </a>
                        <button type="submit" class="icon-btn">
                            <span class="material-icons">
                                save
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{ month_formset.management_form }}
        <table class="month-table modalContainer">
            <thead>
                <tr class="week-name">
                    {% for w in week_names %}
                    <th>{{ w }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week_day_forms in month_day_forms %}
                <tr>
                    {% for day, forms in week_day_forms.items %}
                    {% if now == day %}
                    <td class="today">
                        {% else %}
                    <td>
                        {% endif %}

                        <div class="date-wrap">
                            <div class="date-in">
                                <p class="date">
                                    <span class="dib">
                                        <!-- もし、表示の月と今日の月が合わない場合は -->
                                        {% if month_current.month != day.month %}
                                        {{ day | date:"m/d" }}
                                        {% else %}
                                        {{ day.day }}
                                        {% endif %}
                                    </span>
                                </p>
                                <div class="date-task">

                                    <!-- その日付のタスクを全て表示 -->
                                    {% for task in tasks %}
                                    {% if task.date == day %}
                                    {% if task.deleted == False %}
                                    <div class="task-box {% if task.complete %}ok{% endif %} {% if task.description %}des{% endif %}" id="task-box-{{ task.pk }}">
                                        <p>
                                            <span class="ECM_CheckboxInput">
                                            <label>
                                                <input type="checkbox" class="taskCheck ECM_CheckboxInput-Input" data-pk="{{ task.pk }}" {% if task.complete %}checked{% endif %}>
                                                <span class="ECM_CheckboxInput-DummyInput"></span>
                                            </label>
                                            <span class="ECM_CheckboxInput-LabelText" data-pk="{{ task.pk }}" data-date="{{day.year}}-{% if day.month < 10 %}0{% endif %}{{day.month}}-{% if day.day < 10 %}0{% endif %}{{day.day}}" data-des="{{task.description}}">
                                                <span class="task note-box-title" data-pk="{{ task.pk }}">{{ task }}</span></span>
                                                </span>
                                            <div class="meta-box">
                                                <div class="trash-box" data-pk="{{ task.pk }}">
                                                    <span class="material-symbols-outlined">
                                                        delete
                                                    </span>
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <!-- //その日付のタスクを全て表示 -->

                                </div>
                            </div>
                            <div class="modal-open dateDiv" data-modal-open="modal-date-{{day.year}}-{{day.month}}-{{day.day}}"></div>
                        </div>
                        <div class="modal" data-modal="modal-date-{{day.year}}-{{day.month}}-{{day.day}}">
                            <div class="modal-cover btn-close"></div>
                            <div class="modal-inner">
                                <div class="modal-content">
                                    <div class="modal-form">
                                        <input type="text" class="form-control input-task-title" placeholder="タイトル" maxlength="200">
                                        <label>日付</label>
                                        <!-- inputのdateタイプの書式に値を合わせる -->
                                        <input type="date" value="{{day.year}}-{% if day.month < 10 %}0{% endif %}{{day.month}}-{% if day.day < 10 %}0{% endif %}{{day.day}}" class="input-task-date">
                                    </div>
                                    <div class="tc">
                                        <div class="btn btn-flat create-calendar-task">作成</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
    </form>
</div>

<!-- <div class="modal" id="edit-note" style="display: none;">
    <div class="modal-content theme-adjust">
        <span class="modal-close-btn" data-modal="edit-note">×</span>
        <div class="form-group form-animate">
            <input type="text" id="edit-note-title" class="input-animate" placeholder="Title">
            <span class="input-onFocus"></span>
        </div>
        <div class="form-group" id="edit-note-form">
        </div>
    </div>
</div> -->

<div class="modal task-modal" id="edit-note">
    <div class="modal-cover btn-close"></div>
    <div class="modal-inner">
        <div class="modal-content">
            <div class="modal-form">
                <p>
                    <label>タイトル</label>
                    <input type="text" id="edit-note-title" class="input-animate" placeholder="タイトル">
                </p>
                <p>
                    <label>日付</label>
                    <input type="date" id="edit-note-date">
                </p>
                <p>
                    <label>説明</label>
                    <textarea cols="40" rows="10" id="edit-note-des"></textarea>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    // const task = document.querySelectorAll( '.task' );
    // const taskModal = document.querySelectorAll( '.task-modal' );
    // .taskの「data-modal-open」の値に「modal-task-update-数字」をつけていく
    // for ( let i = 0; i < task.length; i++ ) {
    //     // modalをあげる
    //     task[ i ].setAttribute( "data-modal-open", "modal-task-update-" + i );
    //     taskModal[ i ].setAttribute( "data-modal", "modal-task-update-" + i );
    // }
    // .task-modalにも「modal-task-update-数字」をつけていく

    // カレンダーの予定を全て表示
    let p = document.querySelectorAll( '.task p' );
    let plusSum = 0;
    let minusSum = 0;
    let Sum = 0;
    const SumP = document.getElementById( "Sum" );

    // +から始まる文字列を抽出して、+をとり数字だけで合計を出す
    for ( let i = 0; i < p.length; i++ ) {
        if ( p[ i ].innerText.indexOf( '+' ) == 0 ) {
            plusSum += parseInt( p[ i ].innerText );
        }
    }

    // -から始まる文字列を抽出して、-をとり数字だけで合計を出す
    for ( let i = 0; i < p.length; i++ ) {
        if ( p[ i ].innerText.indexOf( '-' ) == 0 ) {
            minusSum += parseInt( p[ i ].innerText );
        }
    }

    // +の合計から、-の合計を引く
    Sum = plusSum + minusSum;
    SumP.innerText = Sum.toLocaleString();

</script>
<script src="{% static 'js/calendar.js' %}?date={% now 'YmdGi' %}""></script>
{% endblock extrascripts %}
