{% extends 'app/base.html' %}
{% block title %}カレンダー{% endblock title %}
{% block content %}

<div class="heading modalContainer">
    <div class="fb heading-wrap">
        <div class="heading-title">
            <h1>{{ month_current | date:"Y年m月" }}</h1>
        </div>
        <div class="icons-menu-wrap">
            <div class="icon-item-wrap icon-menu-modal">
                <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="modal icon-menu-modal-wrap" data-modal="menu1">
                    <div class="modal-cover"></div>
                    <div class="modal-inner">
                        <div class="modal-content">
                            <ul class="modal-ul">
                                <li>
                                    <ul class="mt0">
                                        <li class="menu-li">
                                            <a class="menu-list" href="{% url 'calendar:month_with_forms' %}">月間カレンダー</a>
                                        </li>
                                        <li class="menu-li">
                                            <a class="menu-list" href="{% url 'calendar:week_with_schedule' %}">週間カレンダー</a>
                                        </li>
                                        <li class="menu-li">
                                            <a class="menu-list" href="{% url 'calendar:month_with_forms' %}">一括登録</a>
                                        </li>
                                        <li class="menu-li">
                                            <a class="menu-list" href="{% url 'app:task-create' %}">タスクを追加</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="" method="POST">
    <div class="calendar-head month">
        <div class="fb">
            <div class="fb left-box">
                <a class="text-btn" href="{% url 'calendar:month_with_forms' %}">今日</a>
                <div class="fb arrow-box">
                    <a class="icon-btn" href="{% url 'calendar:month_with_forms' month_previous.year month_previous.month %}"><span class="material-icons">
                            chevron_left
                        </span></a>
                    <a class="icon-btn" href="{% url 'calendar:month_with_forms' month_next.year month_next.month %}"><span class="material-icons">chevron_right</span></a>
                </div>
            </div>
            <div class="right-box">
                <div class="fb">
                    <div class="icon-btn">
                        <span class="material-icons">
                            search
                        </span>
                    </div>
                    <a class="icon-btn" href="{% url 'app:task-create' %}">
                        <span class="material-icons">
                            add
                        </span>
                    </a>
                    <a class="icon-btn" href="{% url 'calendar:month_with_forms' %}">
                        <span class="material-icons">
                            calendar_view_month
                        </span>
                    </a>
                    <a class="icon-btn" href="{% url 'calendar:week_with_schedule' %}">
                        <span class="material-icons">
                            calendar_view_week
                        </span>
                    </a>
                    <button type="submit" class="icon-btn">
                        <span class="material-icons">
                            save
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ month_formset.management_form }}
    <table class="month-table modalContainer">
        <thead>
            <tr class="week-name">
                {% for w in week_names %}
                <th>{{ w }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week_day_forms in month_day_forms %}
            <tr>
                {% for day, forms in week_day_forms.items %}
                {% if now == day %}
                <td class="today">
                    {% else %}
                <td class="modal-open" data-modal-open="modal22">
                    {% endif %}

                    <div class="dateDiv modal-open" data-modal-open="modal-date-{{day.year}}-{{day.month}}-{{day.day}}">
                        <p class="date">
                            <span class="dib">
                                {% if month_current.month != day.month %}
                                {{ day | date:"m/d" }}
                                {% else %}
                                {{ day.day }}
                                {% endif %}
                            </span>
                        </p>

                        <div class="date-form">
                            {% for form in forms|slice:"1:" %}
                            {{ form.as_p }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal" data-modal="modal-date-{{day.year}}-{{day.month}}-{{day.day}}">
                        <div class="modal-cover btn-close"></div>
                        <div class="modal-inner">
                            <div class="modal-content">
                                <div class="modal-form">
                                {% for form in forms|slice:":1" %}
                                {{ form.as_p }}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
</form>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    // 日付をクリックしたら、アラートを出す

</script>
{% endblock extrascripts %}
