{% extends 'app/base.html' %}

{% block content %}

  <div class="heading modalContainer">
      <div class="fb heading-wrap">
        <div class="heading-title">
          <h1>{{ timelines.title }}</h1>
          </div>
          <div class="icons-menu-wrap">
            <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
            <i class="fas fa-ellipsis-h"></i>
            </a>
          </div>
          <div class="modal" data-modal="menu1">
          <div class="modal-cover"></div>
          <div class="modal-inner">
            <div class="modal-content">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae aliquid quaerat quo modi iusto, tenetur corrupti, necessitatibus, perspiciatis pariatur sequi nam? Nam quidem voluptates modi deleniti. Aperiam quaerat velit ea debitis animi ipsum eligendi nisi, et soluta nobis vitae illo. Nihil natus, distinctio tempore accusamus saepe ab ratione est quidem tempora volu</p>
                <a href="#" class="btn btn-close btn-flat">閉じる</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  

  <div class="basewrapper">
    <div class="inner timeline">

      {% for item in timeline_items %}
      <!-- アイコンと見出しのセット -->
      <div class="unit">
        <!-- 真ん中のラインのアイコン -->
        <div class="icon">
          <p>{{ item.start_time }}
            {% if item.end_time %}
            <br>〜<br>{{ item.end_time }}
            {% endif %}
          </p>
        </div>
        <!-- //真ん中のラインのアイコン -->

        <!-- 見出し -->
        <a href="{% url 'app:RoutineDetail' item.pk %}" class="h2-title">
          <div class="left">
            <div class="fb top">
              <div class="fb">
                <span class="dib title">{{ item.title }}</span>
                {% if user.timeline_settings_category_show == "show" %}
                <span class="dib cate">
                  {{ item.category }}
                </span>
                {% endif %}
              </div>
            </div>
            <p>{{ item.description }}</p>
          </div>
          <!-- <div class="right">
          <span>{{ item.start_time }}</span>
          </div> -->
        </a>
        <!-- //見出し -->
      </div>
      <!-- //アイコンと見出しのセット -->
      {% endfor %}
    </div>
  </div>

  <!-- 右下の追加ボタン -->
    <div class="right-bottom-btn">
      <a href="{% url 'app:RoutineCreate' %}">＋</a>
    </div>
  <!-- //右下の追加ボタン -->
{% endblock %}