{% extends 'app/base.html' %}
{% block title %}タイムライン一覧{% endblock %}
{% block content %}

  <div class="heading modalContainer">
    <div class="fb heading-wrap">
      <div class="heading-title">
        <h1>タイムライン一覧</h1>
      </div>
      <div class="icons-menu-wrap">
        <div class="icon-item-wrap icon-menu-modal">
          <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <div class="modal icon-menu-modal-wrap" data-modal="menu1">
            <div class="modal-cover"></div>
            <div class="modal-inner">
              <div class="modal-content">
                <ul class="modal-ul">
                  <li>
                    <ul class="mt0">
                      <li class="menu-li">
                        <a class="menu-list" href="{% url 'app:TimelineCreate' %}">タイムラインを追加</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="basewrapper">
    <div class="inner">
      {% for timeline in timelines %}
      <div class="card">
        <a href="{% url 'app:TimelineItems' timeline.id %}">
          <div class="fb">
            <p class="title">{{ timeline.title }}</p>
            <p class="text">{{ timeline.description | linebreaks | urlize }}</p>
          </div>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>


  <!-- 右下の追加ボタン -->
  <div class="right-bottom-btn">
    <a href="{% url 'app:TimelineCreate' %}">＋</a>
  </div>
  <!-- //右下の追加ボタン -->


{% endblock %}