{% extends 'app/base.html' %}
{% block title %}タイムライン一覧{% endblock %}
{% block content %}

  <div class="heading modalContainer">
    <div class="fb heading-wrap">
      <div class="heading-title">
        <h1>タイムライン一覧</h1>
      </div>
      <div class="icons-menu-wrap">
        <div class="icon-item-wrap icon-menu-modal">
          <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
            <i class="fas fa-ellipsis-h"></i>
          </a>
          <div class="modal icon-menu-modal-wrap" data-modal="menu1">
            <div class="modal-cover"></div>
            <div class="modal-inner">
              <div class="modal-content">
                <ul class="modal-ul">
                  <li>
                    <ul class="mt0">
                      <li class="menu-li">
                        <a class="menu-list" href="{% url 'app:TimelineCreate' %}">タイムラインを追加</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="basewrapper">
    <div class="inner">

      <div class="fb fbl card-wrapper project-list col3">
        {% for timeline in timelines %}
        <div class="card">
          <a href="{% url 'app:TimelineItems' timeline.id %}" class="card-link">
            <div class="fb card-inner">
              <div class="top">
                <p>共有人数：{{ timeline.members.count }}</p>
                <div class="fb title-fb fbl">
                  <span class="text-icon fb">{{ timeline.title|first }}</span>
                  <p class="title">{{ timeline.title }}</p>
                </div>
                {% comment %}文字を切り詰める{% endcomment %}
                <p class="text">{{ timeline.description|truncatechars_html:50|linebreaksbr|default:"説明文はありません。" }}</p>
              </div>
              <div class="bottom">
              </div>
            </div>
          </a>
        </div>
        {% empty %}
        <div class="tc">
          <p class="mb1">タイムラインがありません。</p>
          <a class="btn btn-flat" href="{% url 'app:TaskProject_Create' %}">追加する</a>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>


  <!-- 右下の追加ボタン -->
  <div class="right-bottom-btn">
    <a href="{% url 'app:TimelineCreate' %}">＋</a>
  </div>
  <!-- //右下の追加ボタン -->

{% endblock %}