{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/vendors/css/bootstrap.css' %}?date={% now 'YmdGi' %}">
<link rel="stylesheet" type="text/css" href="{% static '/non-vendors/css/general.css' %}?date={% now 'YmdGi' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static '/vendors/jquery-ui-1.12.1/jquery-ui.min.css' %}?date={% now 'YmdGi' %}"> -->
<!-- <script src="{% static '/vendors/js/jquery.js' %}?date={% now 'YmdGi' %}"></script> -->
<script src="{% static '/vendors/js/moment.min.js' %}?date={% now 'YmdGi' %}"></script>
<!-- <script src="{% static '/vendors/jquery-ui-1.12.1/jquery-ui.min.js' %}?date={% now 'YmdGi' %}"></script> -->
<script src="{% static '/vendors/js/popper.js' %}?date={% now 'YmdGi' %}"></script>
<script src="{% static '/vendors/js/bootstrap.min.js' %}?date={% now 'YmdGi' %}"></script>
<script src="{% static '/non-vendors/js/general.js' %}?date={% now 'YmdGi' %}"></script>
<script defer src="{% static 'js/projects.js' %}?date={% now 'YmdGi' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>