{% extends 'app/base.html' %}
{% load static %}

{% block body %}
<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-xs-10 offset-xs-2">

				{% if account == True %}
				<div class = "user-validation-margin-top">

					<div class="alert alert-success user_validation_box">
						<p>
						<strong>バリデーション成功！</strong>
						</p>
					</div>
					<form method="post" novalidate>
						{% csrf_token %}
						<p>
							 <button name="JoinBoard" id="JoinBoard" type="submit" class="btn btn-success ButtonMargin">'{{ board.name }}'に参加する</button>
						</p>
					</form>
				</div>
				{% elif account == False %}
					<form method="post" novalidate>
						{% csrf_token %}
						<h2 class="sign-up-title">Lifeアカウントを作ってプロジェクトに行きます。</h2>
								{% if form.errors %}
								{% for error in form.non_field_errors %}
									<div class="alert alert-danger error-box">
									    <strong>{{ error }}</strong>
									</div>
									    {% endfor %}
								{% endif %}

						<label for="email" class="label-margin">Email</label>
								<input class="form-control sign-up-input" value="{{ email }}" readonly>
								
							
						<label for="" class="label-margin">Username</label>
							{{ form.username }}
								{% if form.username.errors %}
								{% for error in form.username.errors %}
									<div class="alert alert-danger error-box">
									    <strong>{{ error }}</strong>
									</div>
								{% endfor %}
								{% endif %}

						<label for="password" class="label-margin">Password</label>
							{{ form.password }}
							{% if form.password.errors %}
								{% for error in form.password.errors %}
									<div class="alert alert-danger error-box">
									    <strong>{{ error }}</strong>
									</div>
								{% endfor %}
								{% endif %}
						<label for="confirm_password" class="label-margin">Confirm Password</label>
						{{ form.confirm_password }}
							{% if form.confirm_password.errors %}
								{% for error in form.confirm_password.errors %}
									<div class="alert alert-danger error-box">
									    <strong>{{ error }}</strong>
									</div>
								{% endfor %}
								{% endif %}
						<button  name="ReferralSignUp" type="submit" class="btn btn-success button-margin">Create New Account</button>
					</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
