.month-table {
  width: 100%;

  .week-name {
    th {
      text-align: center;
      padding-bottom: .5em;
      font-weight: normal;
    }
  }
  .date-wrap{
    position: relative;
  }
  .date-in{
    z-index: 30;
  }
  .dateDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .date-task {
    .task {
      margin-bottom: .5em;
      background: var(--btn-success);
      border: none;
      padding: .1em .6em;
      font-size: 13px;
      border-radius: 3px;
      position: relative;
      z-index: 30;
      cursor: pointer;
      &.ok{
        opacity: .3;
      }

      &:last-child {
        margin-bottom: 0;
      } 
    }
  }
  .modal{
    .modal-inner{
      padding: 2em;
      .modal-content{
        .modal-form{
          >p{
            margin-bottom: 1em;
            &:last-child{
              margin-bottom: 0;
            }
          }
          textarea{
            width: 100%;
          }
        }
      }
    }
  }

  td {
    border: 1px solid var(--border-grey);
    width: calc(100% / 7);

    >div {
      padding: .8em 0 1em;
      height: auto;
      min-height: 140px;

      .date {
        display: flex;
        justify-content: center;
        font-size: 12px;
        margin-bottom: .8em;
        span{
          display: inline-block;
          line-height: 1;
        }
      }
    }

    &.today {
      background: var(--bg-header);
    }
  }
}

.calendar-head {
  margin-bottom: 1em;

  &.month {
    >.fb {

      .arrow-box {
        margin-right: 12px;
      }

      .icon-btn {
        display: inline-block;
        padding: .5em;
        line-height: 1;
        background: var(--bg-main2);
        border-radius: 3px;
        cursor: pointer;
        margin-left: .6em;

        &:first-child {
          margin-left: 0;
        }
      }
      .text-btn {
        display: inline-block;
        line-height: 38px;
        padding:0 1em;
        background: var(--bg-main2);
        border-radius: 3px;
        cursor: pointer;
        margin-right: .6em;
        font-size: .95em;
        font-weight: bold;
        height: 38px;
      }

      .now-date {
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
}

.schedules-box {
  .schedule-summary {
    background: var(--btn-success);
    line-height: 1.2;
    padding: 0 .8em;
    border-radius: 2px;
    margin-bottom: .2em;
  }
}


/*  --------------------------------------------------------------- 
  600以下（600pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  .month-table{
    td{
      >div{
        padding: .3em 0 .4em;
        .date{
          font-size: 11px;
        }
      }
    }
    .date-wrap{
      min-height:60px;
    }
    .date-task{
      .task{
        font-size: 10px;
        letter-spacing: -.01em;
        padding:.1em .3em;
        line-height: 1.3;
      }
    }
  }
}