.container {
  margin: 30px 0 0;
  width: calc(100vw - 300px);
  position: relative;
  left: 300px;
  padding: 2em;
}

.basewrapper {
  padding: .5em 0;
}

.right-bottom-btn {
  position: fixed;
  right: 60px;
  bottom: 60px;
  line-height: 1;

  a,button {
    display: block;
    background: var(--btn-success);
    padding: .7em;
    border-radius: 50%;
    font-size: 26px;
    font-weight: bold;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    position: static;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1.5em 0;
    >.heading{
      padding:0 1.5em;
    }
  }

  .right-bottom-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;

    a,button {
      font-size: 20px;
    }
  }
}

.messages_ul {
  position: absolute;
  bottom: 2em;
  z-index: 10;
  right: 2em;
}

.alert {
  /* Firefox */
  -webkit-animation: fadeOut 0s ease-in 3s forwards;
  /* Safari and Chrome */
  /* Opera */
  animation: fadeOut 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  padding: .8em 1.5em;
  border-radius: 3px;
  background: var(--bg-main2);
}


@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    display: block;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    transform: translateY(0px);
  }

  99% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 0;
    display: none;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    transform: translateY(0px);
  }

  99% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 0;
  }
}