
.container {
  margin: 30px 0 0;
  width: calc(100vw - 300px);
  position: relative;
  left: 300px;
  padding: 2em;
}

.basewrapper{
  padding: .5em 0;
}

.right-bottom-btn{
  position: fixed;
  right: 60px;
  bottom: 60px;
  line-height: 1;
  a{
    display: block;
background: var(--btn-success);
    padding: .7em;
    border-radius: 50%;
    font-size: 26px;
    font-weight: bold;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    position: static;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding:2em 1.5em;
  }
  .right-bottom-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;

    a {
      font-size: 20px;
    }
  }
}