.moveBtn{
  line-height: 1;
  >span{
    padding: .4em;
    cursor: pointer;
    display: inline-block;
  }
}

// 沿革
.timeline {
  position: relative;
  margin: 0 auto;

  &::before {
    left: 50%;
    transform: translateX(-50%);
    content: '';
    position: absolute;
    top: 0;
    height: calc(100% - 120px);
    width: 4px;
    background: var(--border-grey);
  }

  .unit {
    display: flex;
    position: relative;
    margin-bottom: 4em;
    align-items: center;
    color: var(--text-main);

    &.done {
      .left,.icon {
        opacity: .2;
      }

      .done-wrap {
        position: absolute;
        color: #fff;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        justify-content: center;
        .fb{
          justify-content: center;
        }

        .check-icon {
          font-size: 40px;
          margin-right: .3em;
          font-weight: bold;
        }
        .text{
          font-size: 30px;
          font-weight: bold;
          line-height: 1;
          display: block;
        }
      }
      .h2-title{
        background: rgb(22, 22, 22);
      }
    }
    .left{
      .fb.top{
        >.fb{
          width: 100%;
          justify-content: flex-start;
        }
      }
      .taskCheck{
        width: 20px;
        transform:scale(1.5);
        margin-right: .6em;
      }
    }

    .icon {
      width: 70px;
      height: 90px;
      background: var(--btn-success);
      order: 1;
      margin-left: calc(6% - 35px);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      font-weight: bold;
      letter-spacing: -1px;
      border: 4px solid #fff;
      text-align: center;
      line-height: 1.3;
    }

    .h2-title {
      padding: 1.2em 1.4em;
      width: 44%;
      flex-grow: 0;
      position: relative;
      background: var(--bg-main2);
      border-radius: 5px;

      .bottom {
        margin-top: .6em;
        padding-top: .6em;
        border-top: 1px solid var(--text-main);
      }

      .cate {
        background: var(--bg-main);
        font-size: .9em;
        padding: .2em .6em;
        border-radius: 3px;
        font-weight: bold;
      }

      .title {
        font-weight: bold;
        margin-right: .8em;
        font-size: 1.2em;
      }

      // &:before {
      //   content: '';
      //   position: absolute;
      //   width: 0;
      //   height: 0;
      //   border-style: solid;
      //   border-width: 8px 0 8px 8px;
      //   border-color: transparent transparent transparent var(--bg-main2);
      //   right: -8px;
      //   margin: auto 0;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   -webkit-transform: translateY(-50%);
      // }

      h2 {
        font-size: 1.3em;
        line-height: 1.6;
        font-weight: bold;
      }

      .right {
        position: absolute;
        display: block;
        width: 100%;
        left: 125%;
        font-weight: bold;
        font-size: 1.3em;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        letter-spacing: 2px;
      }
    }


    &:nth-child(even) {
      flex-direction: row-reverse;

      .icon {
        margin-right: calc(6% - 35px);
      }

      .h2-title {
        // &:before {
        //   border-width: 8px 8px 8px 0;
        //   right: auto;
        //   left: -8px;
        //   border-color: transparent var(--bg-main2) transparent transparent;
        // }

        .right {
          left: auto;
          right: 125%;
          text-align: right;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/*  --------------------------------------------------------------- 
  769以下（600pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 769px) {

  // 沿革
  .timeline {
    padding-bottom: 60px;

    &:before {
      left: 30px;
      transform: none;
    }

    .unit {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 5em;

      &.done {
        .done-wrap {

          .check-icon {
            font-size: 24px;
          }

          .text {
            font-size: 18px;
          }
        }
      }

      .icon {
        order: 0;
        margin: 0;
      }

      .h2-title {
        width: calc(100% - 100px);
        // position: static;

        &:before {
          display: none;
        }

        .right {
          display: inline-block;
          width: 64px;
          text-align: center;
          left: 0;
          bottom: auto;
          top: -40px;
          transform: none;
          -webkit-transform: none;
          letter-spacing: 0;
          background: var(--bg-main);
        }
      }

      &:nth-child(even) {
        flex-direction: row;

        .icon {
          margin-right: 0;
        }

        .h2-title {
          &:before {
            border-width: 8px 8px 8px 0;
            right: auto;
            left: 92px;
          }

          .right {
            left: 0;
            right: auto;
            text-align: center;
          }
        }
      }
    }
  }
}

/*  --------------------------------------------------------------- 
  479以下（479pxで問題ないかどうか）
  --------------------------------------------------------------- */
@media screen and (max-width: 479px) {

  // 沿革
  .timeline {
    width: 100%;
    padding-bottom: 2em;

    &::before {
      left: 26px;
      height: calc(100% - 100px);
    }

    .unit {
      margin-bottom: 3em;

      .icon {
        font-size: 14px;
        width: 54px;
        height: 78px;
        border-width: 2px;
        border-radius: 5px;

        p {
          text-align: center;
        }
      }

      .h2-title {
        width: calc(100% - 72px);
        padding: .6em .9em;

        &:before {
          border-width: 8px 8px 8px 0;
          right: auto;
          top: 13px;
          left: 64px;
          border-color: transparent var(--bg-main2) transparent transparent;
        }

        .title {
          font-size: 15px;
        }

        .left {
          .fb.top {
            >.fb {
              flex-wrap: wrap;
            }
          }
          .taskCheck {
            transform: scale(1.3);
            margin-right: .4em;
          }
        }

        .cate {
          font-size: 12px;
        }

        .bottom {
          margin-top: .5em;
          padding-top: .5em;
          font-size: 14px;
        }
      }

      &:nth-child(even) {

        .h2-title {
          &:before {
            top: 13px;
            left: 72px;
          }
        }
      }
    }
  }
}