{% extends 'app/base.html' %}
{% load static activity_stream  %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="activity-body">
				<strong>User Activity</strong>
				<hr>
				{% for activity in activities %} 

				<div class="row activity-content">
						
				"{{activity.user}}"
				
				{{activity.action}} 

				{{ activity|activity_stream_heading }}


				</div>
				<div class="row activity-footer">
				
				{% if  activity.modified %}
					{{activity.modified}}
				{% endif %}
			
				{% if  activity.board_name %}
					- on board {{activity.board_name}}
				{% endif %}	
				
				
				</div>	
				<hr>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
