{% extends 'app/base.html' %}
{% block title %}タイムラインの項目詳細{% endblock title %}
{% block content %}

  <div class="heading">
    <div class="fb heading-wrap">
      <div class="heading-title">
        <h1>タイムラインの項目詳細</h1>
      </div>
    </div>
  </div>
  <div class="tc mb1">
    <a class="btn btn-flat" href="{% url 'app:RoutineUpdate' routines.pk %}">編集する</a>
  </div>

  <div class="tc">
    <a class="btn btn-flat" href="{% url 'app:RoutineDelete' routines.pk %}">削除</a>
  </div>
<p>{{ routines.title }}</p>
{% endblock %}