{% extends 'app/base.html' %}
{% block title %}{{ TaskProject_object.title }}{% endblock title %}
{% block content %}

<div class="heading modalContainer">
  <div class="fb heading-wrap">
    <div class="heading-title">
      <h1>{{ TaskProject_object.title }}</h1>
    </div>
    <div class="icons-menu-wrap">
      <div class="icon-item-wrap icon-menu-modal">
        <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
          <i class="fas fa-ellipsis-h"></i>
        </a>
        <div class="modal icon-menu-modal-wrap" data-modal="menu1">
          <div class="modal-cover btn-close"></div>
          <div class="modal-inner">
            <div class="modal-content">
              <ul class="modal-ul">
                <li>
                  <ul class="mt0">
                    <li class="menu-li">
                      <a class="menu-list" href="{% url 'app:TaskSection_Create' %}">セクションを追加</a>
                    </li>
                    <li class="menu-li">
                      <a class="menu-list" href="{% url 'app:TaskProject_Update' TaskProject_object.pk %}">プロジェクト詳細設定</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-li">
                  <p><a class="menu-list" href="{% url 'app:TaskProject_Delete' TaskProject_object.pk %}">プロジェクトを削除</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="basewrapper">
  <div class="inner fb fbl section-card">
    {% for item in task_section_items %}
    <div class="card">
      <div class="card-in">
      <div class="fb section-head">
        <p class="title">{{ item.title }}</p>
        <a href="{% url 'app:TaskSection_Items' item.id %}">link</a>
      </div>
      <div class="section-body">
        <!-- 逆参照をしている -->
        {% for task in item.related_task_to_section.all %}
        <div class="list">
          <a href="{% url 'app:task-update' task.id %}">
            <p class="task">{{ task.title }}</p>
            <div class="time">
            {% if task.end_time %}
              <p class="time-p">{{task.date}}{{task.start_time}}〜{{task.end_time}}</p>
            {% endif %}
            </div>
          </a>
        </div>
        {% empty %}
        <p>タスクなし</p>
        {% endfor %}
      </div>
      </div>
    </div>
    {% empty %}
    <div class="tc">
      <p class="mb1">セクションがありません。</p>
      <a class="btn btn-flat" href="{% url 'app:TaskSection_Create' %}">追加する</a>
    </div>
    {% endfor %}

  </div>
</div>

<!-- 右下の追加ボタン -->
<div class="right-bottom-btn">
  <a href="{% url 'app:task-create' %}">＋</a>
</div>
<!-- //右下の追加ボタン -->
{% endblock %}
