{% extends 'app/base.html' %}
{% block title %}プロジェクト一覧{% endblock title %}
{% block content %}

<div class="heading modalContainer">
  <div class="fb heading-wrap">
    <div class="heading-title">
      <h1>プロジェクト一覧</h1>
    </div>
    <div class="icons-menu-wrap">
      <div class="icon-item-wrap icon-menu-modal">
        <a class="modal-open icon-menu-item fb" data-modal-open="menu1">
          <i class="fas fa-ellipsis-h"></i>
        </a>
        <div class="modal icon-menu-modal-wrap" data-modal="menu1">
          <div class="modal-cover btn-close"></div>
          <div class="modal-inner">
            <div class="modal-content">
              <ul class="modal-ul">
                <li>
                  <ul class="mt0">
                    <li class="menu-li">
                      <a class="menu-list" href="{% url 'app:TaskProject_Create' %}">プロジェクトを追加</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="basewrapper modalContainer">

 <div class="section-div">
   <div class="inner">
     <div class="h2-title-wrap">
       <h2 class="h2-title">お気に入り</h2>
     </div>
     <div class="fb fbl card-wrapper project-list col3">
       {% for item in favorite_projects.all %}
       <div class="card {% if item.members.count > 0 %}shared{% endif %}">
         <a href="{% url 'app:TaskProject_Items' item.id %}" class="card-link">
           <div class="fb card-inner">
             <div class="top">

               <div class="fb title-fb fbl">
                 <span class="text-icon fb">{{ item.title|first }}</span>
                 <p class="title">{{ item.title }}</p>
               </div>
               {% comment %}文字を切り詰める{% endcomment %}
               <p class="text">{{ item.description|truncatechars_html:50|linebreaksbr|default:"説明文はありません。" }}</p>
             </div>

             <div class="bottom fb">
               <div class="icon-list fb fbl">

                 <!-- 最大3アカウントのみ表示 -->
                 {% for member in item.members.all|slice:":3" %}
                 <div class="account-icon">
                   {% if member.avatar %}
                   <img src="{{ member.avatar.url }}">
                   {% else %}
                   <span class="fb text-icon">
                     {{ member.email|first|upper }}
                   </span>
                   {% endif %}
                 </div>
                 {% endfor %}
                 <p>({{ item.members.count }})</p>
               </div>
               <div class="fb">
                 <div class="iconBox fb">
                   <form action="{% url 'app:follow_project' item.id %}" method="post">
                     <button type="submit" name="button"><span class="material-icons">
                         grade
                       </span>
                     </button>
                     {% csrf_token %}
                   </form>

                 </div>
                 <div class="iconBox fb">
                   <span class="material-icons modal-open" data-modal-open="modal-delete-prroject-{{item.id}}">
                     delete
                   </span>
                 </div>
               </div>
             </div>
           </div>
         </a>
         <div class="modal formModal" data-modal="modal-delete-prroject-{{item.id}}">
           <div class="modal-cover btn-close"></div>
           <div class="modal-inner">
             <div class="modal-content">
               <div class="modal-form">
                 <p>{{item.title}}を本当に削除しますか？</p>
                 <div class="tc">
                   <a class="btn btn-flat delete-btn" href="{% url 'app:delete_project' item.id %}">削除する</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       {% empty %}
       <div class="tc">
         <p class="mb1">タスクプロジェクトがありません。</p>
         <a class="btn btn-flat" href="{% url 'app:TaskProject_Create' %}">追加する</a>
       </div>
       {% endfor %}

     </div>
   </div>
 </div>

  <div class="section-div">
    <div class="inner">
      <div class="h2-title-wrap">
        <h2 class="h2-title">プロジェクト</h2>
      </div>
      <div class="fb fbl card-wrapper project-list col3">
        {% for item in TaskProject_object %}
        <div class="card {% if item.members.count > 0 %}shared{% endif %}">
          <a href="{% url 'app:TaskProject_Items' item.id %}" class="card-link">
            <div class="fb card-inner">
              <div class="top">
                
                <div class="fb title-fb fbl">
                  <span class="text-icon fb">{{ item.title|first }}</span>
                  <p class="title">{{ item.title }}</p>
                </div>
                {% comment %}文字を切り詰める{% endcomment %}
                <p class="text">{{ item.description|truncatechars_html:50|linebreaksbr|default:"説明文はありません。" }}</p>
              </div>
              
              <div class="bottom fb">
                <div class="icon-list fb fbl">

                  <!-- 最大3アカウントのみ表示 -->
                  {% for member in item.members.all|slice:":3" %}
                  <div class="account-icon">
                    {% if member.avatar %}
                    <img src="{{ member.avatar.url }}">
                    {% else %}
                    <span class="fb text-icon">
                      {{ member.email|first|upper }}
                    </span>
                    {% endif %}
                  </div>
                  {% endfor %}
                  <p>({{ item.members.count }})</p>
                </div>
                <div class="fb">
                  <div class="iconBox fb">
                    <form action="{% url 'app:follow_project' item.id %}" method="post">
                      <button type="submit" name="button"><span class="material-icons">
                          star_border
                        </span>
                      </button>
                      {% csrf_token %}
                    </form>

                  </div>
                  <div class="iconBox fb">
                    <span class="material-icons modal-open" data-modal-open="modal-delete-prroject-{{item.id}}">
                      delete
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="modal formModal" data-modal="modal-delete-prroject-{{item.id}}">
            <div class="modal-cover btn-close"></div>
            <div class="modal-inner">
              <div class="modal-content">
                <div class="modal-form">
                  <p>{{item.title}}を本当に削除しますか？</p>
                  <div class="tc">
                    <a class="btn btn-flat delete-btn" href="{% url 'app:delete_project' item.id %}">削除する</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="tc">
          <p class="mb1">タスクプロジェクトがありません。</p>
          <a class="btn btn-flat" href="{% url 'app:TaskProject_Create' %}">追加する</a>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

   <!-- 右下の追加ボタン -->
   <div class="right-bottom-btn modal-open" data-modal-open="modal-create-project">
     <button class="">＋</button>
   </div>
   <!-- //右下の追加ボタン -->

   <div class="modal routineCreateModal" data-modal="modal-create-project">
     <div class="modal-cover btn-close"></div>
     <div class="modal-inner">
       <div class="modal-content">
         <div class="modal-form">
           <form class="p-memo" action="" method="POST">{% csrf_token %}
             {{  form.as_p }}
             <div class="tc">
               <button class="btn btn-flat" type="submit">作成する</button>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>

</div>



{% endblock %}
